.mid-center
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2% 0% 0px 25%;
    align-items: center;
    width: 50pc;
    height: auto;
}

.mid-center div div
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3% 0px 0px 0px;
}

.mid-center .div-initial
{
    margin-bottom: 10%;
}

.mid-center div div p
{
    margin: 0px 10% 0px -30%;
}

.content p
{
    margin: none;
}

/* -- Content --*/
main
{
    display: flex;
    justify-content: center;
    width: auto;
    height: 30%;
}


main div.content
{
    width: 30pc;
    height: auto;
    margin: 0%;
    border-block: 1px solid black;
    writing-mode: horizontal-tb;
}

main div.content div.image
{
    margin: 0%;
    width: 100%;
    height: 10%;
    background-color: rgb(78, 204, 78);
}


a
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2pc;
    text-decoration: none;
}


/*====== CONTENT FILES ========*/

.text-center-content
{
    font-weight: 700;
}

@media screen and (max-width: 420px) {

    .mid-center {
        margin: 0;
        width: 100%;
        justify-content: center;
    }

    main {
        width: 100%;
    }

    main div.content {
        width: 100%;
        max-width: 100%;
        padding: 0 1rem;
        box-sizing: border-box;
    }

    .content p {
        margin: 0;
        text-align: left;
        word-wrap: break-word;
    }
}


